/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea
/.mongo_env
thankser.iml

# OS-specific files
.DS_Store

# Log files
*.log

# Temporary files
*.tmp
*.swp
*.swo

# Environment variables
.env
